//registry.npmjs.org/:_authToken=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
registry=http://rpm.femaledaily.com/repository/fdn-group/
//rpm.femaledaily.com/repository/fdn-hosted/:_authToken=NpmToken.ad52ac84-a09d-31a3-9104-ee158816cadd
//rpm.femaledaily.com/repository/fdn-group/:_authToken=NpmToken.ad52ac84-a09d-31a3-9104-ee158816cadd
email=backend@femaledaily.com
always-auth=true
_auth=YmU6YmFuZ3NhdDEy
